/* Site wide styles */
#root {
  /*  */
}

.whole-page-container {
  display: grid;
  grid-template-columns: 1fr 1150px 1fr;
  grid-template-rows: 1fr;
  /* gap: 0px 0px; */
  grid-template-areas: "left main-body right";
}

.main-body {
  grid-area: main-body;
  /* border: 2px solid black; */
  height: 100vw;

}

body {
  margin: 0px;
  background-color: #64A0DC;
  height: 100vw;
}